* {
	border: none;
	outline: none;
}
html, body {
	padding: 0;
	margin: 0;
	position: relative;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 600% 600%;
	animation: gradient 5s ease infinite;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	overflow: hidden;
}

#logo {
	position: fixed;
	left: 30px;
	top: 30px;
}

#logo img {
	height: 46px;
}

.nTdate__time, .nTdate__date { 
	color: black;
}

#menu {
	position: fixed;
	width: 24px;
	height: 24px;
	right: 41px;
	top: 24px;
	padding: 2px;
	border-radius: 13px;
	z-index: 1;
	cursor: pointer;
	transition: all 0.2s ease;
}

#menu:hover {
	opacity: 0.7;
}
#menu svg {
	fill: #e2dede;
}

#background-image {
	display: block;
	position: absolute;
	top: 0; left: 0;
	object-fit: cover;
	height: 100%;
	width: 100%;
	opacity: 0;
	z-index: 0;
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fade-out {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
.fade-in {
	animation: fade-in 1s forwards;
}
.fade-out {
	animation: fade-out 1s forwards;
}

#search-input-wrapper {
	width: 100%;
	height: 64px;
	border-radius: 60px;
	background: rgba(255, 255, 255, 1);
	padding: 0 50px 0 35px;
	box-sizing: border-box;
}
#search-input {
	width: 100%;
	height: 64px;
	padding: 0;
	margin: 0;
	color: #000;
	font-size: 18px;
	font-weight: 400;
	font-family: 'Arial', sans-serif;
	background: rgba(0, 0, 0, 0);
}
#search-input::placeholder {
	color: #4d4d4d;
}
[contentEditable=true] {
	padding-top: 18px !important;
	height: 44px !important;
	overflow-x: scroll;
	white-space: nowrap;
	scrollbar-width: none;
}
[contentEditable=true]:empty::before{
	content: attr(placeholder);
	color: #cacaca;
}

#search-submit {
	background: none;
	display: block;
	position: absolute;
	top: 0;
	right: 20px;
	height: 64px;
	fill: #4d4d4d;
	cursor: pointer;
	transition: all 0.3s ease;
}

#search-submit:hover {
	opacity: 0.7;
}

.awesomplete {
	width: 100%;
}
.awesomplete ul {
	padding: 0 !important;
}
.awesomplete li {
	word-break: break-word;
}

.url-color {
	color: #fff;
}

#bottom-links {
	position: fixed;
	width: 100%;
	bottom: 15px;
	font-size: 14px;
	text-align: center;
	font-family: Arial, sans-serif;
	display: flex;
	justify-content: center;
}

.bottom-links_container { 
	width: 70%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#bottom-links a {
	color: #090B16;
	text-decoration: none;
	/* text-shadow: 1px 1px 2px black; */
	cursor: pointer;
}


.main-box {
	position: absolute;
	top: calc(50% - 50px);
	left: calc(50% - 300px); 
}
  
.search-bar {
	display: flex;
	align-items: center;
	background: rgba(255, 255, 255, 0.8);
	margin-bottom: 40px; 
	border: 1px solid rgb(230, 227, 227);
	border-radius: 20px;
}

.search-bar .icon {
	  width: 45px;
	  height: 20px; 
}

.search-bar input {
	width: 555px;
	height: 45px;
	line-height: 45px;
	padding: 0 5px;
	border: none;
	background-color: transparent;
	font-size: 14px;
	color: #403b3b;
}

.search-bar.rounded-searchbar {
	border-radius: 45px; 
}

.search-bar.dark {
	background: rgba(0, 0, 0, 0.5); 
}

.search-bar.dark input {
	color: #fff; 
}

.icon.icon-search {
	background: url(./search.png) center/contain no-repeat; 
}

.search-bar .icon {
	width: 45px;
	height: 20px;
}

.icon {
	display: inline-block;
	cursor: pointer;
}

.clear { 
	position: absolute;
	top: 5%;
	right: 5%;
	cursor: pointer;
}

.politra {
	position: absolute;
    top: 55px;
    right: 23px;
    display: flex;
    border-radius: 10px;
    border: 1px solid #e2dede;
}

.column {
	display: flex;
	flex-direction: column;
}

.color-politra {
	width: 20px;
	height: 20px;
	margin: 5px;
	border-radius: 20px;
}

.red {
	background-color: rgb(173, 59, 59);
	/* position: absolute;
	right: 40px;
	top: 68px; */
	border: 1px solid rgb(173, 59, 59);
	cursor: pointer;
}

.red:hover {
	background-color: rgb(175, 78, 78);
}


.green {
	background-color: rgb(64, 194, 64);
	/* position: absolute;
	right: 40px;
	top: 135px; */
	border: 1px solid rgb(64, 194, 64);
	cursor: pointer;
}

.green:hover {
	background-color: rgb(71, 180, 71);
}

.orange {
	background-color: rgb(233, 121, 17);
	/* position: absolute;
	right: 75px;
	top: 100px; */
	border: 1px solid rgb(233, 121, 17);
	cursor: pointer;
}

.orange:hover {
	background-color: rgb(231, 152, 78);
}

.blue {
	background-color: rgb(17, 104, 218);
	/* position: absolute;
	right: 75px;
	top: 100px; */
	border: 1px solid rgb(17, 104, 218);
	cursor: pointer;
}

.blue:hover {
	background-color: rgb(49, 130, 236);
}

.orange:hover {
	background-color: rgb(231, 152, 78);
}

.yellow {
	background-color: rgb(245 248 33);
	/* position: absolute;
	right: 75px;
	top: 100px; */
	border: 1px solid rgb(245 248 33);
	cursor: pointer;
}


.yellow:hover {
	background-color: rgb(249 251 78 / 75%);
}

.black {
	background-color:rgb(0, 0, 0);
	/* position: absolute;
	right: 8px;
	top: 100px; */
	border: 1px solid rgb(26, 25, 25);
	cursor: pointer;
}

.black:hover {
	background-color:rgb(48 46 46);
    cursor: pointer;;
}

.save {
	position: absolute;
    width: 33px;
    /* height: 24px; */
    height: 33px;
    right: 40px;
    top: 160px;
    /* padding: 2px; */
    border-radius: 33px;
    z-index: 1;
    cursor: pointer;
    /* transition: all 0.2s ease; */
    display: flex;
    background: rgb(224, 11, 50);
    justify-content: center;
    color: white;
    align-items: center;
}

.save:hover {
    background: rgb(241, 29, 68);
}

.logo {
	width: 45px;
	height: 45px;
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
/*	margin-right: 10px; */
	background-size:cover; 
	background-position:center center; 
	background-repeat:no-repeat;	
	/* change image logo */
	background-image:url('icon.png');
}

.main-box {
	display: flex;
}

*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
}
.container{
	width: 20%;
    min-width: 250px;
    position: absolute;
    top: 20px;
    left: 20px;
    background: #ffffff;
    border-radius: 20px;
    overflow-y: auto;
    max-height: 90%;
}

@media (min-width: 1640px) {
	.container {
		width: 30%;
		min-width: 250px;
	}
}

#newtask{
    position: relative;
    padding: 30px 20px;
}
#newtask input{
    width: 75%;
    height: 45px;
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    border: 2px solid #d1d3d4;
    padding: 12px;
    color: #111111;
    font-weight: 500;
    position: relative;
    border-radius: 5px;
	background: rgba(25, 28, 52, 0.1);
    border-radius: 12px;
}
#newtask input:focus{
    outline: none;
    border-color: #090B16;
}

#newtask button{
    position: relative;
    float: right;
    width: 20%;
    height: 45px;
    border-radius: 12px;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    font-size: 16px;
    background: #FDD835;
    border: none;
    color: #090B16;
    cursor: pointer;
    outline: none;
}
#tasks{
    background-color: #ffffff;
    /* margin-top: 10px; */
    border-radius: 10px;
    width: 100%;
    position: relative;
}
.task{
	margin: 13px 20px;
    background: rgba(25, 28, 52, 0.1);
	border-radius: 12px;
    height: 50px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.task span{
	text-align: center;
    font-family: Arial, sans-serif;
    color: #8f8c8c;
    font-size: 15px;
    font-weight: 400;
}
.task button{
    background: none;
    color: black;
    height: 100%;
    cursor: pointer;
    width: 40px;
}

.completed{
    text-decoration: line-through;
}

button i {
	color: black;
}

@keyframes gradient {
	0% {
	  background-position: 0% 50%;
	}
  
	50% {
	  background-position: 100% 50%;
	}
  
	100% {
	  background-position: 0% 50%;
	}
  }

  #greeting {
	margin-top: 155px;
	position: absolute;
	left: calc(50% - 285px);
    top: calc(50% - 285px);
	font-weight: normal;
	padding-bottom: 35px;
	font-size: 34px;
	font-family: 'Poppins', sans-serif;
  }
  
  #dateTime {
	display: inline;
	font-weight: bolder;
	font-size: 44px;
  }